<footer class="site-footer h-card">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
      </div>

      <div class="footer-col footer-col-2 mr-auto">
      </div>

      <div class="footer-col footer-col-3">
      <p style="text-align: right">
        <span class="h6">Contact us:</span><br>
        <a href="https://github.com/{{ site.github_repository }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">Github</span></a>
        <br>
        <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">Twitter</span></a>
      </p>
      </div>
    </div>

  </div>

</footer>
